<script>
	import welcome from '$lib/images/nasa-logo-multiple.svg';

  	import AnimatedCanvas from '../components/AnimatedCanvas.svelte';

	import { scale } from "svelte/transition";


</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>

<header>
	<img src={welcome} alt="Welcome" transition:scale="{{ duration: 1000 }}" />

	<a href="search"><h1 class="header-cta shimmer" transition:scale="{{ duration: 1000 }}">Begin Voyage</h1></a>
</header>

<AnimatedCanvas></AnimatedCanvas>

<style>

header {
	z-index: 1;
	position: relative;
}

img {
	width: 40rem;
    margin: 2rem;
	backdrop-filter: blur(5px);
}

.header-cta {
    position: fixed;
    transition: all .3s ease-in-out;
    bottom: 4rem;
    left: 0;
    right: 0;
}

.header-cta::after {
	content: '»';
	position: absolute;
	bottom: -5rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-size: 2rem;
	text-align: center;
    color: #ffffff63;
    background: linear-gradient(to right, #222 0%, #fff 50%, #222 100%);
    background-size: 80px 100%;
    -webkit-background-clip: text;
    animation-name: shimmer, bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 3rem;
    font-weight: 200;
    padding: 0 80px 0 0;
    display: inline;
    letter-spacing: 4px;
    width: fit-content;
	rotate: 90deg;
	transition: all .3s ease-in-out;
}

.shimmer {
	text-align: center;
    color: #ffffff63;
    background: linear-gradient(to right, #222 0%, #fff 50%, #222 100%);
    background-size: 80px 100%;
    -webkit-background-clip: text;
    animation-name: shimmer;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 1.8rem;
    font-weight: 200;
    padding: 0 80px;
    display: inline;
    letter-spacing: 4px;
    width: fit-content;
	margin: auto;
}

@keyframes shimmer {
	0% {
			background-position: top left;
	}
	100% {
			background-position: top right;
	}
}

@keyframes bounce {
	0% {
		bottom: -5rem;
	}
	100% {
		bottom: -7rem;
	}
}
</style>
