@import '@fontsource/fira-mono';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-space-background: #111322;
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: #111322;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

img {
	width: 100%;
	height: auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}


button {
	background-color: #1d90ff;
	color: #fff;
	padding: 0.5rem 2rem;
	border-radius: 2rem;
	border: none;
	text-transform: capitalize;
	margin: auto;
	transition: all .3s ease-in-out;
	border: 0.2rem solid transparent;
	transform: scale(0.9);
}

button:hover {
	transform: scale(1);
}

button:active {
	background: #1d90ff5e;
	border-color: #1d90ff;
	transform: scale(1);
}


footer {
	color: #fff;
}

footer p {
	margin: 0;
}

footer a {
	color: #fff;
}