<script>
  import * as THREE from 'three';
  import * as SC from 'svelte-cubed';
  import ReusableGLTF from './ReusableGLTF.svelte';
  import Loading from './Loading.svelte';
  import { modelURL, modelsLoading, updateModelStatus } from './stores';
  
  function handleStatusChange(evt) {
    updateModelStatus(evt.detail.name, evt.detail.status);
    }


let spinSlow = 0;
let spinFast = 0;


SC.onFrame(() => {
spinFast += 0.005;
spinSlow += 0.0025;
});
  
  </script>
  
  <SC.Canvas
  background={new THREE.Color("#111322")}
  antialias
  >
  
    <SC.PerspectiveCamera 
      position={[250, 36, 20]}
      near={0.1}
      far={800}
      fov={40}
    />
  
    <SC.OrbitControls 
      enabled={true}
      enableZoom={false}
      autoRotate={false}
      autoRotateSpeed={2}
      enableDamping={true}
      dampingFactor={0.1}
      target={[-6, 17, 0]}
    />
  
    <SC.DirectionalLight
      color={new THREE.Color(0xffffff)}
      position={[0,10,10]}
      intensity={0.90}
      shadow={false}
    />
    <SC.AmbientLight
      color={new THREE.Color(0xffffff)}
      intensity={0.90}
    />
  
    <!-- Don't need this once we have a reusable component! -->
    <!--   <LittleCity /> -->
    <ReusableGLTF 
    modelURL={modelURL['iss']} 
    name="iss" 
    position={[-6, 17, 4]} 
    rotation={[0, spinFast, spinSlow]}
    on:statusChange={handleStatusChange} 
  />
  
  </SC.Canvas>
  <Loading showLoading={$modelsLoading} />