<script>
	import axios from 'axios';
	import Modal from '../components/Modal.svelte';

    import { scale } from "svelte/transition";
    import { 
    API_BASE_URL, 
    EARTH_PATH, 
    JUPITER_PATH, 
    MARS_PATH, 
    MERCURY_PATH, 
    NEPTUNE_PATH,
    PLUTO_PATH, 
    SATURN_PATH, 
    URANUS_PATH, 
    VENUS_PATH,
    IMAGE_ONLY
    } from "../api/config";
    
    import { onMount } from "svelte";    
  
	const API_URL = {API_BASE_URL};
  
	let showModal = false;
	let images = [];
	let visibleImages = [];
	let showCount = 9;
	let query = 'venus';
	let selectedImage = null;
  
	async function fetchImages() {
	  const response = await axios.get(`${API_BASE_URL}${query}${IMAGE_ONLY}`);
	  images = response.data.collection.items;
	  showMore();
	}
  
	function showMore() {
	  visibleImages = images.slice(0, showCount);
	  showCount += 9;
	}
  
	function handleSearch(event) {
	  query = event.target.value;
	  showCount = 9;
	  fetchImages();
	}

	function openModal(imageData) {
		selectedImage = imageData;
		showModal = true;
	}
  
	onMount(fetchImages);
</script>

<div class="search-container">
	<input transition:scale="{{ duration: 1000 }}" type="text" on:input={handleSearch} placeholder="Search the Universe..." />
</div>

    <div class="planet-buttons">
        <button on:click={() => handleSearch({target: {value: 'earth'}})}>Earth</button>
        <button on:click={() => handleSearch({target: {value: 'jupiter'}})}>Jupiter</button>
        <button on:click={() => handleSearch({target: {value: 'mars'}})}>Mars</button>
        <button on:click={() => handleSearch({target: {value: 'mercury'}})}>Mercury</button>
        <button on:click={() => handleSearch({target: {value: 'neptune'}})}>Neptune</button>
        <button on:click={() => handleSearch({target: {value: 'pluto'}})}>Pluto</button>
        <button on:click={() => handleSearch({target: {value: 'saturn'}})}>Saturn</button>
        <button on:click={() => handleSearch({target: {value: 'uranus'}})}>Uranus</button>
        <button on:click={() => handleSearch({target: {value: 'venus'}})}>Venus</button>
      </div>
  
<div class="card-container">
	{#each visibleImages as image}
		<div class="card" transition:scale="{{ duration: 1000 }}">
            {#if image.links && image.links.length && image.data && image.data.length}
                <img src={image.links[0].href} alt={image.data[0].title} />
            {/if}
        		<div class="card-text">
				<h3>{image.data[0].title}</h3>
                <details>
                    <summary>Read more...</summary>
                    <p>{image.data[0].description}</p>
                </details>
			</div>
			<button on:click={() => openModal(image)}>
				View Full
			</button>
		</div>
	{/each}
</div>
  
{#if visibleImages.length < images.length}
	<button class="load-more" on:click={showMore} transition:scale="{{ duration: 1000 }}">Load More</button>
{/if}
  
{#if showModal}
	<Modal bind:showModal>
		<h2 class="image-modal-title" slot="header" transition:scale="{{ duration: 1000 }}">
			{selectedImage.data[0].title}
		</h2>
        <div class="hover-zoom-wrapper">
            <span>Hover to Zoom in</span>
            <img class="zoom-on-hover" src={selectedImage.links[0].href} alt="" transition:scale="{{ duration: 1000 }}"/>
        </div>
	</Modal>
{/if}
  
  <style>
    h1 {
        color: #1d90ff;
    }

    .planet-buttons {
        max-width: 800px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 1rem auto 4rem;
    }

    .planet-buttons button {
        margin: 0.5rem;
    }

    .hover-zoom-wrapper:hover span {
        opacity: 0;
        bottom: -2rem;
    }

    .hover-zoom-wrapper span {
        font-size: 1rem;
        position: absolute;
        z-index: 1;
        right: 2rem;
        bottom: 5rem;
        margin: auto;
        background: #fff;
        padding: 1rem;
        border-radius: 1rem 0rem 0rem 0rem;
        color: #1d90ff;
        font-weight: bold;
        opacity: 1;
        transition: all .3s ease-in-out;
    }

	.search-container {
		margin: 2rem auto 4rem;
		box-sizing: border-box;
}
    
    input {
        padding: 1rem 2rem;
        border-radius: 2rem;
        border: 0;
        background: #1d90ff5e;
        border: 0.2rem solid #1d90ff;
        color: #1d90ff;
        text-align: center;
    }
    
    ::placeholder {
        color: #1d90ff;
    }
  
	.card-container {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: center;
	  gap: 3rem 1.5rem;
	}
  
	.card {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  background-color: #fff;
	  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	  border-radius: 1rem;
	  overflow: hidden;
	  width: calc(100% - 2rem);
      padding-bottom: 2rem;
	}

    @media screen and (min-width: 1000px) {
        .card {
            width: calc(33.33% - 2rem);
        }
    }
  
	.card img {
	  width: 100%;
	  height: auto;
	  object-fit: cover;
	}
  
	.card-text {
    padding: 1rem 2rem;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
	}

    details {
        text-align: left;
    }
    
    .load-more {
        margin: 4rem auto;
    }

    .zoom-on-hover {
        transition: all .3s ease-in-out;
        scale: 0.9;
        position: relative;
    }

    .zoom-on-hover:hover {
        scale: 1.5;
    }

    .image-modal-title {
        background-color: #fff;
        position: relative;
        padding: 0.5rem;
        border-radius: 0.5rem;
        width: fit-content;
        z-index: 1;
    }
  </style>
  