<script>
    import Search from "../../components/Search.svelte";
    import { scale } from "svelte/transition";
	import homePath from '$lib/images/nasa-logo-single.svg';
</script>

<header class="static-header" >
    <a href="/"><img src={homePath} alt="return" transition:scale="{{ duration: 1000 }}" /></a>
    <h1 transition:scale="{{ duration: 1000 }}">Where would you like to go?</h1>
</header>

<Search></Search>

<style>
    .static-header {
        color: #fff;
    }

    .static-header img {
        max-width: 200px;
    }
</style>